prompt_automation
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Automatisation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "layout",
              "fieldType": "textarea",
              "placeholder": "Entrer le squellette du prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "tasks",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1472,
        -416
      ],
      "id": "17d7c32e-d301-4988-96d4-b76e118c36a9",
      "name": "On form submission",
      "webhookId": "53b84659-d489-411e-86b9-ccd6f1839515"
    },
    {
      "parameters": {
        "content": "### Extract data",
        "height": 496,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -592
      ],
      "typeVersion": 1,
      "id": "de90c037-a442-4872-97d2-2619f0055ad3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "tasks",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -512
      ],
      "id": "f31c7a52-3b90-49ce-9c99-01a9431b91b1",
      "name": "Extract task"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a5d58ce-2ff1-4d5b-9f8f-39b56d7c3cf1",
              "name": "layout",
              "value": "={{ $json.layout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        -304
      ],
      "id": "514fe2fc-ebd8-4175-a657-49c9d4d1c1a8",
      "name": "Etract field"
    },
    {
      "parameters": {
        "content": "### Create prompt",
        "height": 496,
        "width": 1392,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -592
      ],
      "typeVersion": 1,
      "id": "8e86c0d3-9100-4549-8567-8c237407c4fe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        -368
      ],
      "id": "67847169-6cce-45e8-8ee8-2761dbba86cf",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const tasks = [];\nfor (const item of $input.all()) {\n  tasks.push(item.json.row[0])\n}\nreturn [\n  {\n    'tasks': tasks\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -512
      ],
      "id": "6e694b75-380e-4ec8-a2c9-85fe798a2f2a",
      "name": "convert task to array"
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks\nconst layout = $input.first().json.layout\nconst prompts = []\nfor (const task of tasks) {\n  prompts.push({\n    'prompt': layout.replace('{{PRODUIT}}', task),\n    'completed': false\n  })\n}\nreturn prompts\nreturn [{\n  'prompts': prompts\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -368
      ],
      "id": "7cb9fb55-9308-4c05-88a7-11bfc8a7da69",
      "name": "Create prompt"
    },
    {
      "parameters": {
        "content": "### Send prompt to IA agent  and save  response  in file",
        "height": 496,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        48
      ],
      "typeVersion": 1,
      "id": "7b984ae7-a6a3-4f3e-a552-661e261c3b83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -688,
        240
      ],
      "id": "ad1a3fe1-fddc-4976-89c9-6ff49ff21b37",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const originalResponse = $input.first().json.text\nconst separator = `________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________\n\n`\nreturn {\n  response: `${separator}\n${originalResponse}\n`\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        80
      ],
      "id": "d7e1ef08-d492-46b1-8dd0-78d499e103cb",
      "name": "Format response"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "response",
        "options": {
          "fileName": "={{ $now.format('yyyy-MM-dd') }}.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        80
      ],
      "id": "7b4396da-ee8d-4a41-8d52-a4cbff80371c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -384,
        80
      ],
      "id": "0ba6be9a-ebda-488f-a5ea-e56afc38d063",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ],
      "id": "786b6ae6-5483-4dc0-85d2-8cc974b01a1f",
      "name": "Generate article to prompt",
      "credentials": {
        "deepSeekApi": {
          "id": "QDXbzNMrTWD3197V",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -112,
        -160
      ],
      "id": "9bf836f8-4d20-4b61-a2fd-c6d58e62e99a",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/antaress/Documents/prompt_response/{{$now.format('yyyy-MM-dd')}}.txt",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "id": "5bd26947-105a-43f3-b7f2-26ffa4141ea9",
      "name": "Read/Write Files from Disk"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Etract field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract task": {
      "main": [
        [
          {
            "node": "convert task to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etract field": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert task to array": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create prompt": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate article to prompt": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd625ca7afcb58e3eba8c07c778b17e24f0cf3faf1795c29d18522d44f4a74a9"
  }
}
